---
import "bootstrap/dist/css/bootstrap.min.css";
const {lang} = Astro.props;
---

<!-- *tidak ada file eksternal css* -->

<div class="container-fluid py-5" style="background-color: #0e3121;">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 text-center text-md-start mb-4 mb-md-0">
      <div class="badge py-2 px-3 d-inline-block mb-3" style="color: #15803D; background-color: #F0FDF4;">About Us</div>
      <h2 class="text-white mb-3 ">Selamat Datang di Pariwisata <br>Kagungan Dalem Keraton Yogyakarta</h2>
      <a href=`/${lang}/aboutus` class="btn" style="color: #D6A84D;">
        Selengkapnya
        <img src="../img/icon/chevron-right-gold.svg" alt="Chevron" class="ms-2">
      </a>
    </div>
    <div class="col-md-5">
      <p class="text-white mb-4">
        Keraton Yogyakarta, sebuah tempat di mana sejarah, budaya, dan keindahan berpadu harmonis. Kami dengan hangat menyambut Anda untuk menjelajahi istana megah ini, pusat dari kebudayaan Jawa yang kaya dan penuh warna. Di sini, Anda akan dibawa kembali ke masa lampau, merasakan aura kebesaran Kesultanan Yogyakarta, dan menyaksikan koleksi artefak serta seni yang mempesona. Nikmati setiap sudut Kraton dengan tur edukatif dan pengalaman tak terlupakan yang telah kami siapkan khusus untuk Anda. Selamat menikmati perjalanan yang sarat akan pengetahuan dan keindahan di Keraton Yogyakarta!
      </p>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
