---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/homepage/do's_dont's.css";
import 'bootstrap-icons/font/bootstrap-icons.css';
const { backgroundColor } = Astro.props;

// Import JSON data
import homeDos_and_Donts1 from "../../data/homepagejson/home-do's_dont's1.json";
import homeDos_and_Donts2 from "../../data/homepagejson/home-do's_dont's2.json";

---
<!-- NOTE Homepage-do's_dont's-->


<!-- KETENTUAN PENGUNJUNG SECTION -->
<div class="frame-34 container-fluid" style="background-color: #550B38;">
  <div class="row">
    <div class="col-lg-6 col-md-12 d-flex align-items-center">
      <div class="container frame-45">
        <div class="row">
          <div class="text-image-container">
            <div class="frame-40" style="display: flex; align-items: center; color: white; font-size: 30px; gap: 5px;">
              <img class="group-6" src="../img/icon/Group 6.svg" alt="Icon"/>Ketentuan Pengunjung
            </div>
          </div>
        </div>
        <p></p>
        <div class="row frame-43">
          <div class="col-md-12">
            <ul class="nav nav-tabs horizontal-tabs mb-2" id="myTab" role="tablist" style="border-color: #D6A84D;">
              <li class="nav-item tab-button" role="presentation" style="border-color: #D6A84D;">
                <button style="color: #2D5D2B;"
                  class="nav-link active text2 rounded-0"
                  id="home-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#home-tab-pane"
                  type="button"
                  role="tab"
                  aria-controls="home-tab-pane"
                  aria-selected="true">Do's</button>
              </li>
              <li class="nav-item tab-button2" role="presentation"  style="border-color: #D6A84D;">
                <button style="color: #2D5D2B;"
                  class="nav-link text3 rounded-0"
                  id="profile-tab"
                  data-bs-toggle="tab"
                  type="button"
                  role="tab"
                  aria-controls="profile-tab-pane"
                  data-bs-target="#profile-tab-pane"
                  aria-selected="false">Dont's</button>
              </li>
            </ul>
            <div class="tab-content frame-42" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home-tab-pane"
                role="tabpanel"
                aria-labelledby="home-tab"
                tabindex="0">
                {homeDos_and_Donts1.map((item) => (
                <div class="check-list-item mb-2">
                  <div class="check-icons" style="color: white; font-size: 18px;">
                    <i class="bi bi-check"></i> {item.text}
                  </div>
                </div>
                ))}
                {/* <div class="check-list-item mb-2">
                  <div class="check-icons" style="color: white; font-size: 18px;">
                    <i class="bi bi-check"></i> Mengenakan pakaian yang sopan, nyaman, dan berlengan
                  </div>
                </div> */}
                {/* <div class="check-list-item mb-2">
                  <div class="check-icons" style="color: white; font-size: 18px;">
                    <i class="bi bi-check"></i> Diperbolehkan mendokumentasikan koleksi sesuai arahan petugas
                  </div>
                </div> */}
              </div>
            
              
              <div
                class="tab-pane fade"
                id="profile-tab-pane"
                role="tabpanel"
                aria-labelledby="profile-tab"
                tabindex="0">
                {homeDos_and_Donts2.map((item) => (
                <div class="check-list-item mb-2">
                  <div class="check-icons" style="color: white; font-size: 18px;">
                    <i class="bi bi-check"></i> {item.text}
                  </div>
                </div>
                ))}
                {/* <div class="check-list-item mb-2">
                  <div class="check-icons" style="color: white; font-size: 18px;">
                    <i class="bi bi-check"></i> {item.text}
                  </div>
                </div> */}
                {/* <div class="check-list-item mb-2">
                  <div class="check-icons" style="color: white; font-size: 18px;">
                    <i class="bi bi-check"></i> {item.text}  
                  </div>
                </div> */}
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
      <img class="image3 img-fluid w-100" src="../img/bangunandepankeraton.png" alt="Bangunan Keraton"/>
    </div>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>




