---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/homepage/hero.css";
import Navbar from "../navbar.astro";
---



<div class="hero-section">
  <img src="../img/keraton-tari.png" alt="Museum Keraton Yogyakarta" class="hero-image">
  <div class="gradient-overlay"></div>
  <Navbar/>
  
  <div class="content-box">
      <div class="welcome-label">Selamat datang di</div>
      <h1 class="title" style="color: #ffffff;">Museum Pariwisata Kagungan Dalem Keraton Yogyakarta</h1>
      <p class="subtitle">Temukan Keagungan Tradisi, Keindahan, dan Pengetahuan di Keraton Yogyakarta</p>
      <a href="#" class="custom-button btn">
          Rencanakan Kunjungan Anda
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
      </a>
  </div>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  // import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
