---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/homepage/promo.css";
import 'bootstrap-icons/font/bootstrap-icons.css';

const {lang} = Astro.props;

---

<section class="promo-section d-flex align-items-center">
  <div class="container promo-content">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <h1 class="promo-title">Promo Kunjungan Museum</h1>
        <p class="promo-text">
          Nikmati acara eksklusif, akses tak terbatas ke pameran dan Ruang Anggota,</br> ditambah diskon di toko-toko Museum, kafe, dan restoran.
        </p>
      </div>
      <div class="col-lg-4 text-lg-end text-center">
        <a href=`/${lang}/` class="promo-btn">
          Informasi selengkapnya <span class="bi bi-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>
</section>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
