---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/aboutus/aboutus-description.css";

---
<!-- NOTE aboutus-description-->
<section class="aboutus-description container mt-1">
  <div class="row">
    <div class="col-md-12" style="color: #2D5D2B;">
      <h2>Sejarah Singkat</br>
        Kagungan Dalem Museum Kedhaton Keraton Yogyakarta</h2>
      <p>
        Kagungan Dalem Museum Kedhaton Keraton Yogyakarta adalah museum yang
        berlokasi di dalam kompleks Keraton Yogyakarta. Museum ini menyimpan dan
        memamerkan berbagai koleksi berharga milik Keraton, seperti pusaka, barang
        antik, dan artefak yang memiliki nilai sejarah dan budaya tinggi.
        Koleksi-koleksi tersebut mencerminkan perjalanan sejarah Keraton
        Yogyakarta serta kehidupan dan tradisi keluarga Sultan. Museum ini menjadi
        salah satu destinasi wisata budaya penting bagi pengunjung yang ingin
        mempelajari sejarah dan warisan budaya Keraton Yogyakarta.
      </p>
      <p>
        Kami menantikan kedatangan Anda.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 ">
      <p class="judul"><b>Kemudahan Akses Mobilitas</b></p>
      <span>Kemudahan Akses Mobilitas di Museum Kraton Yogyakarta: Jelajahi Sejarah dengan Nyaman dan Lancar!</span>
      <p><b>Ramah Kunjungan Tunarungu</b></p>
      <span>Ramah Kunjungan Tunarungu di Museum Kraton Yogyakarta: Nikmati Sejarah dengan Bantuan Visual dan Teks yang Informatif!</span>
  
    </div>
    <div class="col-md-6 col-sm-6 ">
      <p class="judul"><b>Ramah Autis</b></p>
      <span>Ramah Autis di Museum Kraton Yogyakarta: Jelajahi Sejarah dengan Lingkungan yang Tenang dan Aman!</span>
      <p class="judul"><b>Ramah kunjungan Tunanetra</b></p>
      <span>Ramah Kunjungan Tunanetra di Museum Kraton Yogyakarta: Jelajahi Sejarah dengan Sentuhan dan Audio yang Informatif!</span>
    </div>
  </div>
</section>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>