---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/event/event-right-side.css/";
import 'bootstrap-icons/font/bootstrap-icons.css';

// Import JSON data
import Dataeventrightside from "../../data/event/event-right-side.json";

---

  <!-- RIGHT COLUMN SECTION -->
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content-start ">
          <div class="me-4 d-inline-flex align-items-center">
            <button class="btn btn-outline-dark round-icon-btn me-2"><i class="bi bi-hand-thumbs-up"></i></button>
            <span>Like this!</span>
          </div>
          <div class="d-inline-flex align-items-center">
            <button class="btn btn-outline-dark round-icon-btn me-2"><i class="bi bi-share"></i></button>
            <span>Share it!</span>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex justify-content mb-4">
          <button class="btn btn-outline-dark" style="width: 100%; max-width: 500px;">
            <i class="bi bi-ticket-perforated"></i>
            Beli Tiket Sekarang <i class="bi bi-arrow-right"></i>
          </button>
        </div>
        <h5 class="card-title">Informasi Paket Wisata</h5>
        {Dataeventrightside.map((item)=>(
        <strong class="card-text"><i class="bi bi-ticket-detailed"></i>Harga Ticket:{item.Hargatiket}/tiket</strong>
        ))}
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js">
    import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>