---

// Import JSON data
import DataeventHero from "../../data/event/event-hero.json";


import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/event/event-hero.css/";
import 'bootstrap-icons/font/bootstrap-icons.css';
import Navbar from "../navbar.astro";
---
    
    <!-- HERO SECTION -->
    {DataeventHero.map((item)=>(
    <section class="hero" style="background: linear-gradient(
    180deg, rgba(0, 0, 0, 0.61) 0.07648601313121617%,
    rgba(1, 1, 27, 0.12) 41.892483830451965%,
    rgba(14, 49, 33, 1) 100%),
    url('/img/keraton-tari.png') no-repeat center center / cover;">
    <Navbar />
    <div class="container text-white">
      <h1> {item.text} </h1>
    </div>
    </section>
    ))}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js">
    import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script> 