---
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/destination/destination-information_sidebar.css";
import 'bootstrap-icons/font/bootstrap-icons.css';
---
<!-- NOTE destination-information-sidebar-->


<!-- EVENT DESCRIPTION SECTION -->
<section class="event-description container mt-5 destination-sidebar">
  <div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-4 offset-md-1 event-info" style="margin-top: 90px; color: #0e3121;">
      <h5>Informasi Museum</h5>
      <hr style="border: 1px solid #ccc; margin: 10px 0 20px;">
      <ul class="list-unstyled ">
        <li><i class="bi bi-clock"></i> Opening times<br>03 January 2023 - 05 January 2023<br>Pukul 08.00 - 15.00</li>
        <hr style="border: 1px solid #ccc; margin: 10px 0 20px;">
        <li><i class="bi bi-ticket-perforated"></i> Harga Tiket<br>
          <strong>Domestik</strong><br> Anak-anak: Rp 10.000, Dewasa: Rp 15.000 <br>
          <strong>Mancanegara</strong><br> Anak-anak: Rp 20.000, Dewasa: Rp 25.000
        </li>
        <hr style="border: 1px solid #ccc; margin: 10px 0 20px;">
        <li><i class="bi bi-geo-alt"></i> Lokasi Museum<br>
          Keraton Ngayogyakarta Hadiningrat<br>
          Jl. Rotowijayan Blok No. 1, Panembahan, Kecamatan Kraton, Kota Yogyakarta
        </li>
      </ul>
      <p>
        <div class="btn btn-view-museum">
          <i class="bi bi-geo-alt-fill" style="color: gold;"></i>
          View museum map location <a href="#" class="bi bi-arrow-right" style="color: gold;"></a>
        </div>
      </p>
      <br>
      <br>
      <div class="btn btn-booking">
        <i class="bi bi-ticket" style="color: gold;"></i>
        Booking sekarang <a href="#" class="bi bi-arrow-right" style="color: gold;"></a>
      </div>
    </div>
  </div>
</section>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>




