---
import "bootstrap-icons/font/bootstrap-icons.css";
import "bootstrap/dist/css/bootstrap.min.css";
import "../../styles/homepage/destinationhero2.css";
import Navbar from "../../components/navbar2.astro";


---
<section class="promo-section d-flex align-items-center">
  <div class="container promo-content">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <h1 class="promo-title">Paket Kunjungan Museum</h1>
      
      </div>
      
    </div>
  </div>
</section>
<Navbar/>
