---
import "../styles/footer.css";
import "bootstrap/dist/css/bootstrap.min.css";
---

<footer class="bg-custom-color text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Logo and Description -->
      <div class="col-md-4 text-center text-md-start mb-4">
        <img
          src="/img/Logo Putih 1.png"
          alt="Logo"
          class="img-fluid mb-3"
          style="max-width: 150px"
        />
        <p>
          Nikmati setiap sudut Kraton dengan tur edukatif dan pengalaman tak
          terlupakan yang telah kami siapkan khusus untuk Anda.
        </p>
      </div>
      
      <!-- Social Icons -->
      <div class="col-md-4 text-center text-md-end mb-4"></div>

      <!-- Site Map -->
      <div class="col-md-4 mb-4">
        <p class="text-Capitalize opacity-50">Site Map</p>
        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li class="mb-3">
                <a href="#" class="text-white text-decoration-none">Home</a>
              </li>
              <li class="mb-3">
                <a href="#" class="text-white text-decoration-none"
                  >Tentang Kami</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none"
                  >Paket Tour</a
                >
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="list-unstyled">
              <li class="mb-3">
                <a href="#" class="text-white text-decoration-none">Berita</a>
              </li>
              <li class="mb-3">
                <a href="#" class="text-white text-decoration-none"
                  >Merchandise</a
                >
              </li>
              <li>
                <a href="#" class="text-white text-decoration-none"
                  >Membership</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4 bg-white" />

    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-0">
          &copy; 2024 Karaton Yogyakarta, Inc. All rights reserved.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <a href="#" class="text-white me-2"
          ><img
            src="/img/xformertwitter.png"
            alt="Twitter"
            class="img-fluid"
            style="max-width: 32px"
          /></a
        >
        <a href="#" class="text-white me-2"
          ><img
            src="/img/facebook.png"
            alt="Facebook"
            class="img-fluid"
            style="max-width: 32px"
          /></a
        >
        <a href="#" class="text-white"
          ><img
            src="/img/linkedin.png"
            alt="LinkedIn"
            class="img-fluid"
            style="max-width: 32px"
          /></a
        >
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
>
  import "bootstrap/dist/js/bootstrap.bundle.min.js";
</script>
